/* Principals elements of the page */
body {
    font-family: "Roboto", sans-serif;
    margin-left: 0%;
  }
  
  /* Header */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -3em;
  }
.back{
    width: 15px;
    height: 15px;
    margin-top: 0.5em;  
}
.logo-img {
   margin-left: -5em;
} 
.menilmontant-img{
    width: 102.2%;
    height: 200px;
    object-fit: cover;
}

/* Section */
section{
    background-color: #f6f6f6;
    margin-top: -3em;
    padding-bottom: 8em;
    width: 100%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: absolute;
}
.main-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.heart{
    width: 15px;
    height: 15px;
    margin-top: 1.7em;
}
.title{
    font-family: "Shrikhand", cursive;
    font-size: 1.25em;
}
.starter-title, .dishes-title, .desert-title {
    font-weight:300;
    font-size: 0.9em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.span1, .span2, .span3{
    border-bottom: 2px solid #99E2D0;
    padding-bottom: 0.5em;
}
.dishes-title, .desert-title{
    margin-top: 3em;
}
.starter{
    animation: starter-load 2s ease-in 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
.dishes{
    animation: dishes-load 4s ease-in 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
.desert{
    animation: desert-load 6s ease-in 300ms;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
.start1, .start2, .start3, .dish1, .dish2, .dish3, .desert1, .desert2, .desert3 {
    background-color: white;
    box-shadow: 0px 2px 5px #F2F2F2;
    border-color: #F2F2F2;
    width: 90%;
    height: 80px;
    margin-left: 1em;
    padding-top: 0.1em;
    border-radius: 1em;
}
.start2, .start3, .dish2, .dish3, .desert1, .desert2, .desert3 {
    margin-top: 1em;
}
.starter1, .starter2, .starter3,.dishes1,.dishes2, .dishes3, .deserts1, .deserts2, .deserts3 {
    color: black;
    text-decoration: none;
}
.start1-title, .start2-title, .start3-title, .dish1-title, .dish2-title, .dish3-title, .desert1-title, .desert2-title, .desert3-title{
    margin-left: 1em;
}
.start1-detail, .start2-detail, .start3-detail, .dish1-detail, .dish2-detail, .dish3-detail, .desert1-detail, .desert2-detail, .desert3-detail{
    margin-left: 1em;
    font-weight:300;
    font-size: 0.9em;
    margin-top: -0.5em;
}
.start1-flex, .start2-flex, .start3-flex, .dish1-flex, .dish2-flex, .dish3-flex, .desert1-flex, .desert2-flex, .desert3-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start1-price, .start2-price, .start3-price, .dish1-price, .dish2-price, .dish3-price, .desert1-price, .desert2-price, .desert3-price{
    font-size: 0.9em;
    margin-top: -0.5em;
    padding-right: 1em;
}
.order {
    position: absolute;
    left: 30%;
    margin-top: 4em;
    border-radius: 3em;
    text-decoration-line: none; 
    font-size: 0.75em;
    color: white;
    padding: 1em 3em 1em 3em;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: none;
}

/* Footer */
footer {
    background-color: #353535;
    margin-top: 75em;
    padding-top: 0.5em;
    margin-bottom: -1.5em;
    height: 200px;
    width: 100%;
    position:absolute;
  }
  
  footer .title {
    font-family: "Shrikhand", cursive;
    margin-left: 1.5em;
    font-size: 1.15em;
    color: white;
  }
  
  .ustensils-p, .partner-p, .legal, .contact-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 3em;
    color: white;
  }
  
  .ustensils, .partner {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 1em;
  }
  
  .partner {
    margin-top: 2em;
  }

  @keyframes starter-load{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes dishes-load{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes desert-load{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
