/* Principals elements of the page */
body {
  font-family: "Roboto", sans-serif;
  margin-left: 0%;
}

/* Header */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}

.back {
  width: 15px;
  height: 15px;
  margin-top: 0.5em;
  margin-left: 1.5em;
}

.logo-img {
  display: block;
  margin: auto;
}

.cite-rouge-img {
  width: 102.2%;
  height: 200px;
  object-fit: cover;
}

/* Section */
section {
  background-color: #f6f6f6;
  margin-top: -3em;
  padding-bottom: 12em;
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: absolute;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.heart {
  width: 15px;
  height: 15px;
  margin-top: 1.7em;
}

.title {
  font-family: "Shrikhand", cursive;
  font-size: 1.25em;
}

.starter .starter-card1, .starter .starter-card2, .starter .starter-card3, .starter .dish-card1, .starter .dish-card2, .starter .dish-card3, .starter .desert-card1, .starter .desert-card2, .starter .desert-card3, .dishes .starter-card1, .dishes .starter-card2, .dishes .starter-card3, .dishes .dish-card1, .dishes .dish-card2, .dishes .dish-card3, .dishes .desert-card1, .dishes .desert-card2, .dishes .desert-card3, .desert .starter-card1, .desert .starter-card2, .desert .starter-card3, .desert .dish-card1, .desert .dish-card2, .desert .dish-card3, .desert .desert-card1, .desert .desert-card2, .desert .desert-card3 {
  cursor: pointer;
  background-color: white;
  position: relative;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 0em 1em 1.5em 1em;
  display: flex;
  width: 90%;
}
.starter .starter-card1:hover .check, .starter .starter-card2:hover .check, .starter .starter-card3:hover .check, .starter .dish-card1:hover .check, .starter .dish-card2:hover .check, .starter .dish-card3:hover .check, .starter .desert-card1:hover .check, .starter .desert-card2:hover .check, .starter .desert-card3:hover .check, .dishes .starter-card1:hover .check, .dishes .starter-card2:hover .check, .dishes .starter-card3:hover .check, .dishes .dish-card1:hover .check, .dishes .dish-card2:hover .check, .dishes .dish-card3:hover .check, .dishes .desert-card1:hover .check, .dishes .desert-card2:hover .check, .dishes .desert-card3:hover .check, .desert .starter-card1:hover .check, .desert .starter-card2:hover .check, .desert .starter-card3:hover .check, .desert .dish-card1:hover .check, .desert .dish-card2:hover .check, .desert .dish-card3:hover .check, .desert .desert-card1:hover .check, .desert .desert-card2:hover .check, .desert .desert-card3:hover .check {
  width: 25%;
}
.starter .starter-card1:hover .check > .check-circle, .starter .starter-card2:hover .check > .check-circle, .starter .starter-card3:hover .check > .check-circle, .starter .dish-card1:hover .check > .check-circle, .starter .dish-card2:hover .check > .check-circle, .starter .dish-card3:hover .check > .check-circle, .starter .desert-card1:hover .check > .check-circle, .starter .desert-card2:hover .check > .check-circle, .starter .desert-card3:hover .check > .check-circle, .dishes .starter-card1:hover .check > .check-circle, .dishes .starter-card2:hover .check > .check-circle, .dishes .starter-card3:hover .check > .check-circle, .dishes .dish-card1:hover .check > .check-circle, .dishes .dish-card2:hover .check > .check-circle, .dishes .dish-card3:hover .check > .check-circle, .dishes .desert-card1:hover .check > .check-circle, .dishes .desert-card2:hover .check > .check-circle, .dishes .desert-card3:hover .check > .check-circle, .desert .starter-card1:hover .check > .check-circle, .desert .starter-card2:hover .check > .check-circle, .desert .starter-card3:hover .check > .check-circle, .desert .dish-card1:hover .check > .check-circle, .desert .dish-card2:hover .check > .check-circle, .desert .dish-card3:hover .check > .check-circle, .desert .desert-card1:hover .check > .check-circle, .desert .desert-card2:hover .check > .check-circle, .desert .desert-card3:hover .check > .check-circle {
  width: 20px;
  height: 20px;
  opacity: 1;
  animation: rotation 1s linear;
}
.starter .start-choice1, .starter .start-choice2, .starter .start-choice3, .starter .dish-choice1, .starter .dish-choice2, .starter .dish-choice3, .starter .desert-choice1, .starter .desert-choice2, .starter .desert-choice3, .dishes .start-choice1, .dishes .start-choice2, .dishes .start-choice3, .dishes .dish-choice1, .dishes .dish-choice2, .dishes .dish-choice3, .dishes .desert-choice1, .dishes .desert-choice2, .dishes .desert-choice3, .desert .start-choice1, .desert .start-choice2, .desert .start-choice3, .desert .dish-choice1, .desert .dish-choice2, .desert .dish-choice3, .desert .desert-choice1, .desert .desert-choice2, .desert .desert-choice3 {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: auto auto;
  grid-template-areas: "text1 ." "text2 price";
}
.starter .start-choice1 p, .starter .start-choice2 p, .starter .start-choice3 p, .starter .dish-choice1 p, .starter .dish-choice2 p, .starter .dish-choice3 p, .starter .desert-choice1 p, .starter .desert-choice2 p, .starter .desert-choice3 p, .dishes .start-choice1 p, .dishes .start-choice2 p, .dishes .start-choice3 p, .dishes .dish-choice1 p, .dishes .dish-choice2 p, .dishes .dish-choice3 p, .dishes .desert-choice1 p, .dishes .desert-choice2 p, .dishes .desert-choice3 p, .desert .start-choice1 p, .desert .start-choice2 p, .desert .start-choice3 p, .desert .dish-choice1 p, .desert .dish-choice2 p, .desert .dish-choice3 p, .desert .desert-choice1 p, .desert .desert-choice2 p, .desert .desert-choice3 p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.starter .start-choice1 p:nth-child(1), .starter .start-choice2 p:nth-child(1), .starter .start-choice3 p:nth-child(1), .starter .dish-choice1 p:nth-child(1), .starter .dish-choice2 p:nth-child(1), .starter .dish-choice3 p:nth-child(1), .starter .desert-choice1 p:nth-child(1), .starter .desert-choice2 p:nth-child(1), .starter .desert-choice3 p:nth-child(1), .dishes .start-choice1 p:nth-child(1), .dishes .start-choice2 p:nth-child(1), .dishes .start-choice3 p:nth-child(1), .dishes .dish-choice1 p:nth-child(1), .dishes .dish-choice2 p:nth-child(1), .dishes .dish-choice3 p:nth-child(1), .dishes .desert-choice1 p:nth-child(1), .dishes .desert-choice2 p:nth-child(1), .dishes .desert-choice3 p:nth-child(1), .desert .start-choice1 p:nth-child(1), .desert .start-choice2 p:nth-child(1), .desert .start-choice3 p:nth-child(1), .desert .dish-choice1 p:nth-child(1), .desert .dish-choice2 p:nth-child(1), .desert .dish-choice3 p:nth-child(1), .desert .desert-choice1 p:nth-child(1), .desert .desert-choice2 p:nth-child(1), .desert .desert-choice3 p:nth-child(1) {
  overflow: visible;
  grid-area: text1;
  font-weight: 500;
  font-size: 0.9em;
}
.starter .start-choice1 p:nth-child(2), .starter .start-choice2 p:nth-child(2), .starter .start-choice3 p:nth-child(2), .starter .dish-choice1 p:nth-child(2), .starter .dish-choice2 p:nth-child(2), .starter .dish-choice3 p:nth-child(2), .starter .desert-choice1 p:nth-child(2), .starter .desert-choice2 p:nth-child(2), .starter .desert-choice3 p:nth-child(2), .dishes .start-choice1 p:nth-child(2), .dishes .start-choice2 p:nth-child(2), .dishes .start-choice3 p:nth-child(2), .dishes .dish-choice1 p:nth-child(2), .dishes .dish-choice2 p:nth-child(2), .dishes .dish-choice3 p:nth-child(2), .dishes .desert-choice1 p:nth-child(2), .dishes .desert-choice2 p:nth-child(2), .dishes .desert-choice3 p:nth-child(2), .desert .start-choice1 p:nth-child(2), .desert .start-choice2 p:nth-child(2), .desert .start-choice3 p:nth-child(2), .desert .dish-choice1 p:nth-child(2), .desert .dish-choice2 p:nth-child(2), .desert .dish-choice3 p:nth-child(2), .desert .desert-choice1 p:nth-child(2), .desert .desert-choice2 p:nth-child(2), .desert .desert-choice3 p:nth-child(2) {
  grid-area: text2;
  font-weight: 300;
  font-size: 0.9em;
}
.starter .start-choice1 p:nth-child(3), .starter .start-choice2 p:nth-child(3), .starter .start-choice3 p:nth-child(3), .starter .dish-choice1 p:nth-child(3), .starter .dish-choice2 p:nth-child(3), .starter .dish-choice3 p:nth-child(3), .starter .desert-choice1 p:nth-child(3), .starter .desert-choice2 p:nth-child(3), .starter .desert-choice3 p:nth-child(3), .dishes .start-choice1 p:nth-child(3), .dishes .start-choice2 p:nth-child(3), .dishes .start-choice3 p:nth-child(3), .dishes .dish-choice1 p:nth-child(3), .dishes .dish-choice2 p:nth-child(3), .dishes .dish-choice3 p:nth-child(3), .dishes .desert-choice1 p:nth-child(3), .dishes .desert-choice2 p:nth-child(3), .dishes .desert-choice3 p:nth-child(3), .desert .start-choice1 p:nth-child(3), .desert .start-choice2 p:nth-child(3), .desert .start-choice3 p:nth-child(3), .desert .dish-choice1 p:nth-child(3), .desert .dish-choice2 p:nth-child(3), .desert .dish-choice3 p:nth-child(3), .desert .desert-choice1 p:nth-child(3), .desert .desert-choice2 p:nth-child(3), .desert .desert-choice3 p:nth-child(3) {
  grid-area: price;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 0.9em;
}

.check {
  transition: width 1s linear;
  width: 0;
  right: 0;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.check .check-circle {
  opacity: 0;
  z-index: 1;
}

@keyframes rotation {
  from {
    z-index: 1;
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    z-index: 1;
    transform: rotate(360deg);
  }
}
.starter-title, .dishes-title, .desert-title {
  font-weight: 300;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-bottom: 2em;
}

.span1, .span2, .span3 {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 0.5em;
}

.starter {
  animation: starter-load 2s ease-in 300ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.dishes {
  animation: dishes-load 4s ease-in 300ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.desert {
  animation: desert-load 6s ease-in 300ms;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes starter-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes dishes-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes desert-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.order {
  position: absolute;
  left: 30%;
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 3em;
  text-decoration-line: none;
  font-size: 0.75em;
  color: white;
  padding: 1em 3em 1em 3em;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
}

/* Footer */
footer {
  background-color: #353535;
  margin-top: 75em;
  padding-top: 0.5em;
  margin-bottom: -1.5em;
  height: 200px;
  width: 100%;
  position: absolute;
}

footer .title {
  font-family: "Shrikhand", cursive;
  margin-left: 1.5em;
  font-size: 1.15em;
  color: white;
}

.ustensils-p, .partner-p, .legal, .contact-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  font-size: 0.8em;
  margin-left: 3em;
  color: white;
}

.ustensils, .partner {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-left: 1em;
}

.partner {
  margin-top: 2em;
}

@media only screen and (min-width: 550px) and (max-width: 1400px) {
  .cite-rouge-img {
    width: 100.8%;
  }

  .main-title {
    display: unset;
  }

  .back {
    width: 25px;
    height: 25px;
  }

  .title {
    font-size: 2em;
    text-align: center;
  }

  .heart {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
  }

  .starter .starter-card1:hover .check, .starter .starter-card2:hover .check, .starter .starter-card3:hover .check, .starter .dish-card1:hover .check, .starter .dish-card2:hover .check, .starter .dish-card3:hover .check, .starter .desert-card1:hover .check, .starter .desert-card2:hover .check, .starter .desert-card3:hover .check, .dishes .starter-card1:hover .check, .dishes .starter-card2:hover .check, .dishes .starter-card3:hover .check, .dishes .dish-card1:hover .check, .dishes .dish-card2:hover .check, .dishes .dish-card3:hover .check, .dishes .desert-card1:hover .check, .dishes .desert-card2:hover .check, .dishes .desert-card3:hover .check, .desert .starter-card1:hover .check, .desert .starter-card2:hover .check, .desert .starter-card3:hover .check, .desert .dish-card1:hover .check, .desert .dish-card2:hover .check, .desert .dish-card3:hover .check, .desert .desert-card1:hover .check, .desert .desert-card2:hover .check, .desert .desert-card3:hover .check {
    width: 10%;
  }

  .order {
    position: relative;
    left: 45%;
    bottom: -4em;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1000px) {
  .starter, .dishes, .desert {
    margin-left: 1.5em;
  }

  .ustensils-p, .partner-p, .legal, .contact-link {
    align-items: center;
  }

  .ustensils, .partner {
    left: 35%;
  }

  footer {
    margin-top: 80em;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .starter-title, .dishes-title, .desert-title {
    font-size: 2em;
    margin-left: 0.5em;
  }

  .starter-title, .desert-title {
    padding-right: 25em;
  }

  .dishes-title {
    padding-right: 27em;
  }

  .starter .starter-card1, .starter .starter-card2, .starter .starter-card3, .starter .dish-card1, .starter .dish-card2, .starter .dish-card3, .starter .desert-card1, .starter .desert-card2, .starter .desert-card3, .dishes .starter-card1, .dishes .starter-card2, .dishes .starter-card3, .dishes .dish-card1, .dishes .dish-card2, .dishes .dish-card3, .dishes .desert-card1, .dishes .desert-card2, .dishes .desert-card3, .desert .starter-card1, .desert .starter-card2, .desert .starter-card3, .desert .dish-card1, .desert .dish-card2, .desert .dish-card3, .desert .desert-card1, .desert .desert-card2, .desert .desert-card3 {
    width: 30%;
  }
  .starter .starter-card1:hover .check, .starter .starter-card2:hover .check, .starter .starter-card3:hover .check, .starter .dish-card1:hover .check, .starter .dish-card2:hover .check, .starter .dish-card3:hover .check, .starter .desert-card1:hover .check, .starter .desert-card2:hover .check, .starter .desert-card3:hover .check, .dishes .starter-card1:hover .check, .dishes .starter-card2:hover .check, .dishes .starter-card3:hover .check, .dishes .dish-card1:hover .check, .dishes .dish-card2:hover .check, .dishes .dish-card3:hover .check, .dishes .desert-card1:hover .check, .dishes .desert-card2:hover .check, .dishes .desert-card3:hover .check, .desert .starter-card1:hover .check, .desert .starter-card2:hover .check, .desert .starter-card3:hover .check, .desert .dish-card1:hover .check, .desert .dish-card2:hover .check, .desert .dish-card3:hover .check, .desert .desert-card1:hover .check, .desert .desert-card2:hover .check, .desert .desert-card3:hover .check {
    width: 25%;
  }

  .starter, .dishes, .desert {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  footer {
    margin-top: 60em;
    padding-bottom: 4em;
  }

  footer .title {
    font-size: 2em;
  }

  .ustensils-p, .partner-p, .legal, .contact-link {
    align-items: center;
    font-size: 1em;
  }

  .ustensils, .partner {
    width: 20px;
    height: 20px;
    left: 40%;
  }

  .partner {
    margin-top: 2em;
  }
}

/*# sourceMappingURL=style3.css.map */
